extends layout

block content
  body.container
    div.my-3
      a(href="/logout").btn.btn-info.float-right ログアウト
      h1= h1
      a(href="/posts").stretched-link.float-right 投稿ページ
    h2 プロフィールページ
